{{#user}}
    <div id="title">
        <img src="img/animals-zebra-32x32.png" alt="Zebra" />
        <h1>Z<span class="logo-alt-color">abet</span>a for {{uni_name}}</h1>
        <h1 id="program"></h1>
      </div>
      <div id="account">
      	<div id="program-chooser">
				</div>
        <img class="photo" src="{{usr_logo}}" />
        <div class="title">{{full_name}}</div>
        <div class="divider"></div>
        <div class="signout"><a href="api/user/logout">Sign out</a></div>
      </div>
{{/user}}}
