<h2>Tasks Assigned</h2>
<table class="list">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Completion
      </th>
      <th>
        Due
      </th>
    </tr>
  </thead>
  <tbody>
    {{#user}}
    <tr>
      <td style="cursor:pointer">{{name}}</td>
      <td>{{fulfilled}}%</td>
      <td>{{relative_date}}</td>
    </tr>
    {{/user}}
  </tbody>
</table>