{{#state}}
    <div id="logo">
        <img src="img/animals-zebra-32x32.png" alt="Zebra" />
        <div style="display: table-cell; vertical-align: middle; height: 48px; clear:none; width:300px">Z<span class="logo-alt-color">abet</span>a for {{uni_name}}</div>
      </div>

      <div id="account">
        <img class="photo" src="{{usr_logo}}" />
        <div class="title">{{name}}</div>
        <div class="divider"></div>
        <div class="signout"><a href="api/state/logout">Sign out</a></div>
      </div>
{{/state}}}