div#title-slide div#logo {
  width: 272px;
  margin-left: auto;
  margin-right: auto;
}
div#title-slide q {
  margin-top: 20px;
}

div#dorrey {
  float:right;
}
div#dorrey img {
  height: 261px;
}
div#palmer {
  float:left;
}

.title{
    text-align:center;
    font-size:2.5em;
    margin-bottom:1.5em;
}

.name{
    text-align:center;
    font-size:0.5em;
    height:1.4em;
}

.card {
    width: 900px;
    padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;

    font-size: 48px;
    line-height: 1.5;
}

/* fade out inactive slides */

.card {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.card:not(.active) {
    opacity: 0;
}

div.outer {
  font-family: sans-serif;
  border-top: 1px solid black;
  width: 20%;
  font-size: .5em;
  float:right;
  margin-top: 10%;
}
div.outer div {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
}
div.outer div.object {
  font-weight: bold;
  text-align: center;
}
div.outer div.attributes {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
div.outer div.version {
  text-align: center;
  color: #999;
  padding: 0px;
  border: none;
}
#big-blue-box{
  position: absolute;
  z-index: 9999;
  border: 6px dashed black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: blue;
  opacity: 0.5;
  width: 53.2%;
  height: 300px;
  left: 23%;
}
